In [9]:
import numpy as np
import pandas as pd

In [10]:
df = pd.read_excel('Sample - Superstore.xls')
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,2016-11-08,2016-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,2016-06-12,2016-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,2015-10-11,2015-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [11]:
pre_start = '2016-01-01'
pre_end = '2016-12-31'
post_start = '2017-01-01'
post_end = '2017-12-31'

In [62]:
pre = df[(df['Order Date'] <= pre_end) & (df['Order Date'] >= pre_start)]

post = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]

pre_sales = pre.Sales.sum()
post_sales = post.Sales.sum()

1 - pre_sales / post_sales

0.16913131078563515

In [14]:
pre_sales

609205.598

In [15]:
post_sales

733215.2552

In [57]:
total_change =  post_sales -  pre_sales

#percent change between post an pre season sales




print('pre_sales', pre_sales)

print('post_sales', post_sales)

pre_sales 609205.598
post_sales 733215.2552

In [22]:
df[['Region', 'Sales']].head()

  Region     Sales
0  South  261.9600
1  South  731.9400
2   West   14.6200
3  South  957.5775
4  South   22.3680

what if i wanted to know the percent change was by region

In [70]:
df.groupby('Region').agg('sum')

pre_central = df[(df['Order Date'] <= pre_end) & (df['Order Date'] >= pre_start)]
post_central = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]

pre_south = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]
post_south = df[(df['Order Date'] <= pre_end) & (df['Order Date'] >= pre_start)]



pre_east = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]
post_east = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]

pre_west = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]
post_west = df[(df['Order Date'] <= post_end) & (df['Order Date'] >= post_start)]







pre_west = pre_west[pre_west.Region == 'West']
post_west = post_west[post_west.Region == 'West']



pre_east = pre_east[pre_east.Region == 'East']
post_east = post_east[post_east.Region == 'East']



pre_south = pre_south[pre_south.Region == 'South']
post_south = post_south[post_south.Region == 'South']



pre_central = pre_central[pre_central.Region == 'Central'] 
post_central = post_central[post_central.Region == 'Central']



print('pre_west', pre_west.groupby('Region').agg('sum'))
print('\n\n\n')
print('post_west', post_west.groupby('Region').agg('sum'))
print('\n\n\n')

print('pre_east', pre_east.groupby('Region').agg('sum'))
print('\n\n\n')
print('post_east', post_east.groupby('Region').agg('sum'))

print('\n\n\n')
print('pre_south', pre_south.groupby('Region').agg('sum'))
print('\n\n\n')
print('post_south', post_south.groupby('Region').agg('sum'))

print('\n\n\n')
print('pre_central', pre_central.groupby('Region').agg('sum'))
print('\n\n\n')
print('post_central', post_central.groupby('Region').agg('sum'))

pre_west          Row ID  Postal Code        Sales  Quantity  Discount      Profit
Region
West    5596420    100813937  250128.3655      4270     115.2  43808.9561




post_west          Row ID  Postal Code        Sales  Quantity  Discount      Profit
Region
West    5596420    100813937  250128.3655      4270     115.2  43808.9561




pre_east          Row ID  Postal Code       Sales  Quantity  Discount      Profit
Region
East    4604152     16520367  213082.904      3411     136.1  33230.5614




post_east          Row ID  Postal Code       Sales  Quantity  Discount      Profit
Region
East    4604152     16520367  213082.904      3411     136.1  33230.5614




pre_south          Row ID  Postal Code        Sales  Quantity  Discount     Profit
Region
South   2803238     18274785  122905.8575      1915      80.5  8848.9079




post_south          Row ID  Postal Code       Sales  Quantity  Discount      Profit
Region
South   1975762     14016527  93610.2235      1614     62.65  17702.8084




pre_central           Row ID  Postal Code       Sales  Quantity  Discount      Profit
Region
Central  2986885     39477394  147429.376      2359    133.92  19899.1629




post_central           Row ID  Postal Code        Sales  Quantity  Discount     Profit
Region
Central  3844690     50480649  147098.1282      2880    186.42  7550.8442

In [68]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   datetime64[ns]
 3   Ship Date      9994 non-null   datetime64[ns]
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(13)
memory usage: 1.6+ MB